$darkblue: #2d3047;
$lightblue: #00b2ca;
$green: #7dcfb6;
$darkgreen: #3b7d57;
$orange: #fa7e61;
$lightorange: #fee1c7;
$white: #ffffff;
$darkgray: #4a4a4a;
$mediumgray: #a1a1a1;
$lightgray: #e0e0e0;
$yellow: #f3d250;
$purple: #7b68ee;
$lightpurple: #d8bfd8;
$darkred: #b33a3a;
$lightred: #ff6b6b;
$beige: #f5f5dc;

$desktop-side-padding: 10%;
$mobile-side-padding: 5%;

$max-content-width: 950px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
